@page
@model SalesManagement.Pages.ManagementResources.Departments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DeptMst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeptMst.DeptCode" />
            <input type="hidden" asp-for="DeptMst.StartDate" />
            <div class="form-group">
                <label asp-for="DeptMst.EndDate" class="control-label"></label>
                <input asp-for="DeptMst.EndDate" class="form-control" />
                <span asp-validation-for="DeptMst.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptMst.DepName" class="control-label"></label>
                <input asp-for="DeptMst.DepName" class="form-control" />
                <span asp-validation-for="DeptMst.DepName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptMst.Layer" class="control-label"></label>
                <input asp-for="DeptMst.Layer" class="form-control" />
                <span asp-validation-for="DeptMst.Layer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptMst.UpDivisionCode" class="control-label"></label>
                <input asp-for="DeptMst.UpDivisionCode" class="form-control" />
                <span asp-validation-for="DeptMst.UpDivisionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptMst.SlitYn" class="control-label"></label>
                <input asp-for="DeptMst.SlitYn" class="form-control" />
                <span asp-validation-for="DeptMst.SlitYn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptMst.UpdateDate" class="control-label"></label>
                <input asp-for="DeptMst.UpdateDate" class="form-control" />
                <span asp-validation-for="DeptMst.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptMst.Updater" class="control-label"></label>
                <input asp-for="DeptMst.Updater" class="form-control" />
                <span asp-validation-for="DeptMst.Updater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
