version: '3'
services:
  repo:
    image: re-zero-tdd
    build:
      context: ops/docker/repo
    volumes:
      - .:/repo
    working_dir: "/repo"

  env-python:
    image: env-python
    build:
      context: ops/docker/env/python
    ports:
      - 5901:5901
      - 6901:6901
    volumes:
      - ./dev:/headless/Desktop/dev
    environment:
      - VNC_PW=guest

  env-ruby:
    image: env-ruby
    build:
      context: ops/docker/env/ruby
    ports:
      - 5901:5901
      - 6901:6901
    volumes:
      - ./dev:/headless/Desktop/dev
    environment:
      - VNC_PW=guest

