<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Re:ゼロから始めるテスト駆動開発</title>
    <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet"/>


    <style type="text/css">
        body {
            width: 810px;
            margin: 0 auto;
            background-color: ivory;
        }

        header {
            width: 350px;
        }

        .nav-component {
            width: 290px;
            float: left;
            padding: 5px;
            margin-bottom: 5px;
        }

        .fizz-buzz-component {
            width: 500px;
            float: right;
            padding-left: 5px;
            padding-bottom: 10px;
            margin-bottom: 5px;
        }

        .fizz-buzz-component table {
            margin-top: 10px;
            border-collapse: collapse;
        }

        .fizz-buzz-component th {
            border: 1px solid black;
            background-color: aqua;
        }

        .fizz-buzz-component td {
            border: 1px solid black;
        }

        footer {
            clear: both;
            width: auto;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>HTML5+CSS+JavaScript with TDD</h1>
<h3>Powered by SpringBoot and AWS Lambda</h3>
<header>
    <nav class="nav-component">
        <h1>Menu</h1>
        <ul>
            <li><a href="index.html">FizzBuzz</a></li>
        </ul>
    </nav>
</header>
<section>
    <section class="fizz-buzz-component">
        <h2>FizzBuzz</h2>
        <div id="app">
            <div class="selectBox"></div>
            <div class="table"></div>
        </div>
        <div id="mocha"></div>
    </section>
</section>
<footer>
    <p>Copyright</p>
    <address>hiroshima.arc@gmail.com</address>
</footer>

<script src="https://cdn.rawgit.com/jquery/jquery/2.1.4/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chai/4.2.0/chai.min.js"></script>
<script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>
<script>mocha.setup("tdd");</script>

<script>
  function changeType(e) {
    let typeValue = e.target.value;
    let fizzBuzz = fizzBuzzFactory(typeValue);
    document.querySelector(".table").innerHTML = fizzBuzz.renderTable();
  }

  function fizzBuzzFactory(typeValue) {
    const value = parseInt(typeValue);
    switch (value) {
      case 1:
        return new FizzBuzz(type1);
      case 2:
        return new FizzBuzz(type2);
      case 3:
        return new FizzBuzz(type3);
      default:
        return new FizzBuzz(type1);
    }
  }

  function type1(number) {
    if (number % 3 === 0 && number % 5 === 0) return "FizzBuzz";
    if (number % 3 === 0) return "Fizz";
    if (number % 5 === 0) return "Buzz";
    return number;
  }

  function type2(number) {
    return number;
  }

  function type3() {
    return "FizzBuzz";
  }

  function FizzBuzz(type) {
    this.type= type;

    this.generate = (number) => {
      return this.type(number);
    };

    this.generateList = () => {
      return [...Array(101).keys()].map((i) => this.generate.call(this, i)).slice(1);
    };

    this.renderTable = () => {
      let table = `
            <table>
                <thead>
      `;
      table += `<tr>`;
      [...Array(10).keys()].forEach((i) => table += `<th>${i + 1}</th>`);
      table += `</tr>`;
      table += `
                </thead>
                <tbody>
      `;

      table = (() => {
        let counter = 0;
        return {
          create(list) {
            table += `<tr>`;
            list.forEach((item) => {
              table += `<td>${item}</td>`;
              counter++;
              if (counter === 10) {
                table += `</tr>`;
                table += `<tr>`;
                counter = 0;
              }
            });
            return table;
          }
        };
      })().create(this.generateList());

      table += `
                </tbody>
            </table>
      `;
      return table;
    };

    this.renderSelectBox = () => {
      return `
        <select name=”type” onchange="changeType(event)">
            <option value=1>タイプ1</option>
            <option value=2>タイプ2</option>
            <option value=3>タイプ3</option>
        </select>
      `;
    };

    this.render = () => {
      document.querySelector(".selectBox").innerHTML = this.renderSelectBox();
      document.querySelector(".table").innerHTML = this.renderTable();
    }
  }
</script>

<script>
  let fizzBuzz = fizzBuzzFactory(1);
  window.onload = fizzBuzz.render();
</script>

<script>
  const assert = chai.assert;
  suite("FizzBuzzTest", () => {
    test("値を1から100までプリントするただし、3で割り切れる場合はFizz5で割り切れる場合はBuzz両方で割り切れる場合はFizzBuzzをプリントする", () => {
      let type = type1;
      let fizzBuzz = new FizzBuzz(type);
      let list = fizzBuzz.generateList();
      assert.equal(1, list[0]);
      assert.equal("Fizz", list[2]);
      assert.equal("Buzz", list[4]);
      assert.equal("FizzBuzz", list[14]);
      assert.equal("Buzz", list[99]);
    });

    suite("タイプ1の場合", () => {
      test("値が3で割り切れる場合はFizzをプリントする", () => {
        let type = type1;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal("Fizz", fizzBuzz.generate(3));
      });

      test("値が5で割り切れる場合はBuzzをプリントする", () => {
        let type = type1;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal("Buzz", fizzBuzz.generate(5));
      });

      test("値が3または5で割り切れる場合はFizzBuzzをプリントする", () => {
        let type = type1;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal("FizzBuzz", fizzBuzz.generate(15));
      });
    });

    suite("タイプ2の場合", () => {
      test("値が3で割り切れる場合は3をプリントする", () => {
        let type = type2;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal(3, fizzBuzz.generate(3));
      });

      test("値が5で割り切れる場合は5をプリントする", () => {
        let type = type2;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal(5, fizzBuzz.generate(5));
      });

      test("値が3または5で割り切れる場合は値をプリントする", () => {
        let type = type2;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal(15, fizzBuzz.generate(15));
      });
    });

    suite("タイプ3の場合", () => {
      test("値が3で割り切れる場合はFizzBuzzをプリントする", () => {
        let type = type3;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal("FizzBuzz", fizzBuzz.generate(3));
      });

      test("値が5で割り切れる場合はFizzBuzzをプリントする", () => {
        let type = type3;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal("FizzBuzz", fizzBuzz.generate(5));
      });

      test("値が3または5で割り切れる場合はFizzBuzzをプリントする", () => {
        let type = type3;
        let fizzBuzz = new FizzBuzz(type);
        assert.equal("FizzBuzz", fizzBuzz.generate(15));
      });
    })
  });
</script>

<script>
  mocha.checkLeaks();
  mocha.globals(["jQuery"]);
  mocha.run();
</script>

</body>
</html>