<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Re:ゼロから始めるテスト駆動開発</title>
    <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet"/>


    <style type="text/css">
        body {
            width: 810px;
            margin: 0 auto;
            background-color: ivory;
        }

        header {
            width: 350px;
        }

        .nav-component {
            width: 290px;
            float: left;
            padding: 5px;
            margin-bottom: 5px;
        }

        .fizz-buzz-component {
            width: 500px;
            float: right;
            padding-left: 5px;
            padding-bottom: 10px;
            margin-bottom: 5px;
        }

        .fizz-buzz-component table {
            margin-top: 10px;
            border-collapse: collapse;
        }

        .fizz-buzz-component th {
            border: 1px solid black;
            background-color: aqua;
        }

        .fizz-buzz-component td {
            border: 1px solid black;
        }

        footer {
            clear: both;
            width: auto;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>HTML5+CSS+JavaScript with TDD</h1>
<h3>Powered by SpringBoot and AWS Lambda</h3>
<header>
    <nav class="nav-component">
        <h1>Menu</h1>
        <ul>
            <li onclick="showFizzBuzz()" > <a href="#">FizzBuzz</a></li>
            <li onclick="showFizzBuzzApi()"><a href="#">FizzBuzz(API)</a></li>
        </ul>
    </nav>
</header>
<section>
    <section class="fizz-buzz-component">
        <h2>FizzBuzz</h2>
        <div id="app">
            <div class="selectBox"></div>
            <div class="table"></div>
        </div>
        <div id="app-api">
            <div class="selectBox"></div>
            <div class="table"></div>
        </div>
        <div id="mocha"></div>
    </section>
</section>
<footer>
    <p>Copyright</p>
    <address>hiroshima.arc@gmail.com</address>
</footer>

<script src="https://cdn.rawgit.com/jquery/jquery/2.1.4/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chai/4.2.0/chai.min.js"></script>
<script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/7.2.7/sinon.min.js"></script>
<script>const assert = chai.assert;</script>

<script>
  function showFizzBuzz() {
    let fizzBuzz = fizzBuzzFactory("one");
    fizzBuzz.render();
    document.querySelector("#app").style.display="block";
    document.querySelector("#app-api").style.display="none";
    document.querySelector("#mocha").style.display="none";
  }

  function showFizzBuzzApi() {
    renderFizzBuzzApi();
    document.querySelector("#app").style.display="none";
    document.querySelector("#app-api").style.display="block";
    document.querySelector("#mocha").style.display="none";
  }
  
  function renderFizzBuzzApi() {
    const table = `
            <table>
                <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
                </tbody>
            </table>
    `
    document.querySelector("#app-api").innerHTML = table;
  }
  function changeType(e) {
    let typeValue = e.target.value;
    let fizzBuzz = fizzBuzzFactory(typeValue);
    document.querySelector(".table").innerHTML = fizzBuzz.renderTable();
  }

  function fizzBuzzFactory(type) {
    const keys = Object.keys(Type);
    switch (type) {
      case keys[0]:
        return new FizzBuzz(Type.one);
      case keys[1]:
        return new FizzBuzz(Type.two);
      case keys[2]:
        return new FizzBuzz(Type.three);
      default:
        return new FizzBuzz(type1);
    }
  }

  const Type = {
    one: type1,
    two: type2,
    three: type3
  };

  function type1(number) {
    if (number % 3 === 0 && number % 5 === 0) return "FizzBuzz";
    if (number % 3 === 0) return "Fizz";
    if (number % 5 === 0) return "Buzz";
    return number;
  }

  function type2(number) {
    return number;
  }

  function type3() {
    return "FizzBuzz";
  }

  function FizzBuzz(type) {
    this.type = type;

    this.generate = (number) => {
      return this.type(number);
    };

    this.generateList = () => {
      return [...Array(101).keys()].map((i) => this.generate.call(this, i)).slice(1);
    };

    this.renderTable = () => {
      let table = `
            <table>
                <thead>
      `;
      table += `<tr>`;
      [...Array(10).keys()].forEach((i) => table += `<th>${i + 1}</th>`);
      table += `</tr>`;
      table += `
                </thead>
                <tbody>
      `;

      table = (() => {
        let counter = 0;
        return {
          create(list) {
            table += `<tr>`;
            list.forEach((item) => {
              table += `<td>${item}</td>`;
              counter++;
              if (counter === 10) {
                table += `</tr>`;
                table += `<tr>`;
                counter = 0;
              }
            });
            return table;
          }
        };
      })().create(this.generateList());

      table += `
                </tbody>
            </table>
      `;
      return table;
    };

    this.renderSelectBox = () => {
      return `
        <select name=”type” onchange="changeType(event)">
            <option value="one">タイプ1</option>
            <option value="two">タイプ2</option>
            <option value="three">タイプ3</option>
        </select>
      `;
    };

    this.render = () => {
      document.querySelector(".selectBox").innerHTML = this.renderSelectBox();
      document.querySelector(".table").innerHTML = this.renderTable();
    };
  }
</script>

<script>
  let fizzBuzz = fizzBuzzFactory("one");
  window.onload = fizzBuzz.render();
</script>

<script>
  mocha.setup("tdd");
  suite("FizzBuzzTest", () => {
    test("値を1から100までプリントするただし、3で割り切れる場合はFizz5で割り切れる場合はBuzz両方で割り切れる場合はFizzBuzzをプリントする", () => {
      let fizzBuzz = new FizzBuzz(Type.one);
      let list = fizzBuzz.generateList();
      assert.equal(1, list[0]);
      assert.equal("Fizz", list[2]);
      assert.equal("Buzz", list[4]);
      assert.equal("FizzBuzz", list[14]);
      assert.equal("Buzz", list[99]);
    });

    suite("タイプ1の場合", () => {
      test("値が3で割り切れる場合はFizzをプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.one);
        assert.equal("Fizz", fizzBuzz.generate(3));
      });

      test("値が5で割り切れる場合はBuzzをプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.one);
        assert.equal("Buzz", fizzBuzz.generate(5));
      });

      test("値が3または5で割り切れる場合はFizzBuzzをプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.one);
        assert.equal("FizzBuzz", fizzBuzz.generate(15));
      });
    });

    suite("タイプ2の場合", () => {
      test("値が3で割り切れる場合は3をプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.two);
        assert.equal(3, fizzBuzz.generate(3));
      });

      test("値が5で割り切れる場合は5をプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.two);
        assert.equal(5, fizzBuzz.generate(5));
      });

      test("値が3または5で割り切れる場合は値をプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.two);
        assert.equal(15, fizzBuzz.generate(15));
      });
    });

    suite("タイプ3の場合", () => {
      test("値が3で割り切れる場合はFizzBuzzをプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.three);
        assert.equal("FizzBuzz", fizzBuzz.generate(3));
      });

      test("値が5で割り切れる場合はFizzBuzzをプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.three);
        assert.equal("FizzBuzz", fizzBuzz.generate(5));
      });

      test("値が3または5で割り切れる場合はFizzBuzzをプリントする", () => {
        let fizzBuzz = new FizzBuzz(Type.three);
        assert.equal("FizzBuzz", fizzBuzz.generate(15));
      });
    });
  });
</script>

<script>
  function httpGet(url, onSuccess, onError) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          onSuccess(xhr, xhr.responseText);
        } else {
          onError(xhr, xhr.status);
        }
      }
    };
    xhr.send('');
    return xhr;
  }

  function helloOnSuccess(xhr, data) {
    var json = JSON.parse(data);
    var message = `<h2>${json.Output}</h2>`;
    $('#hello').html(message);
  }

  function helloOnError(xhr, code) {
    var message = `<h2>Apiサーバーでエラーが発生しました${code}</h2>`;
    $('#hello').html(message);
  }


  function httpGetByJquery(url) {
    $('#hello').html("処理中...");

    $.ajax({
      url: url,
      type: 'GET',
      data: {}
    })
      .done((data) => {
        var message = `<h2>${data.Output}</h2>`;
        $('#hello').html(message);
      })
      .fail((data) => {
        var message = `<h2>Apiサーバーでエラーが発生しました</h2>`;
        $('#hello').html(message);
      })
  }

</script>

<script>
  mocha.setup("bdd");
  describe("AjaxRequestTest", () => {
    var xhr, requests;
    before(function () {
      xhr = sinon.useFakeXMLHttpRequest();
      requests = [];
      xhr.onCreate = function (req) {
        requests.push(req);
      };
    });
    after(function () {
      // Like before we must clean up when tampering with globals.
      xhr.restore();
    });
    it("makes a GET request for Api call", function () {
      var url = "http://localhost:3002";
      httpGet(url, sinon.fake(), sinon.fake());
      assert.equal(requests.length, 1);
      assert.equal(requests[0].url, "http://localhost:3002");
    });
    it("makes a GET request for Api call by jQuery", function () {
      var url = "http://localhost:3002";
      httpGetByJquery(url);
      assert.equal(requests.length, 2);
      assert.equal(requests[0].url, "http://localhost:3002");
    });
  });

  describe("AjaxResponseTest", () => {
    var server;

    before(function () {
      server = sinon.fakeServer.create();
    });
    after(function () {
      server.restore();
    });

    it("calls callback with deserialized data", function () {
      var url = "http://localhost:3002";
      var onSuccess = sinon.fake();
      var onError = sinon.fake();
      httpGet(url, onSuccess, onError);

      // This is part of the FakeXMLHttpRequest API
      server.requests[0].respond(
        200,
        {"Content-Type": "application/json"},
        JSON.stringify([{"Output": "Hello World!", done: true}])
      );

      assert(onSuccess.calledOnce);
    });
    it("calls callback with error data", function () {
      var url = "http://localhost:3002";
      var onSuccess = sinon.fake();
      var onError = sinon.fake();
      httpGet(url, onSuccess, onError);

      // This is part of the FakeXMLHttpRequest API
      server.requests[1].respond(
        400
      );

      assert(onError.calledOnce);
    });
  });
</script>
<script>
  mocha.checkLeaks();
  mocha.globals(["jQuery"]);
  mocha.run();
</script>

</body>
</html>