body {
  width: 810px;
  margin: 0 auto;
  background-color: ivory;
}

header {
  width: 350px;
}

.nav-component {
  width: 290px;
  float: left;
  padding: 5px;
  margin-bottom: 5px;
}

.fizz-buzz-component {
  width: 500px;
  float: right;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.fizz-buzz-component table {
  margin-top: 10px;
  border-collapse: collapse;
}

.fizz-buzz-component th {
  border: 1px solid black;
  background-color: aqua;
}

.fizz-buzz-component td {
  border: 1px solid black;
}

footer {
  clear: both;
  width: auto;
  text-align: center;
}
