<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Re:ゼロから始めるテスト駆動開発</title>
    <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet"/>
    <script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/4.2.0/chai.min.js"></script>
    <script>document.write("<script src=\"http://" + (location.host || "localhost").split(":")[0] + ":35729/livereload.js?snipver=2\"></" + "script>");</script>
    <script src="https://cdn.rawgit.com/vuejs/vue/dev/dist/vue.min.js"></script>
    <script src="https://cdn.rawgit.com/vuejs/vue/dev/packages/vue-template-compiler/browser.js"></script>
    <script src="https://cdn.rawgit.com/vuejs/vue-test-utils/dev/packages/test-utils/dist/vue-test-utils.iife.js"></script>
    <script>
      mocha.setup("tdd");
    </script>
    <style type="text/css">
        body {
            width: 810px;
            margin: 0 auto;
            background-color: ivory;
        }

        header {
            width: 350px;
        }

        .nav-component {
            width: 290px;
            float: left;
            padding: 5px;
            margin-bottom: 5px;
        }

        .nav-component a {
            text-decoration: none;
            font-size: 15px;
        }

        .nav-component a:link {
            color: #ff0000;
        }

        .nav-component a:visited {
            color: #a0a0a0;
        }

        .nav-component a:hover {
            color: #80ff00;
        }

        .nav-component a:active {
            color: #0000ff;
        }

        .fizz-buzz-component {
            width: 500px;
            float: right;
            padding-left: 5px;
            padding-bottom: 10px;
            margin-bottom: 5px;
        }

        .fizz-buzz-component table {
            margin-top: 10px;
            border-collapse: collapse;
        }

        .fizz-buzz-component th {
            border: 1px solid black;
            background-color: aqua;
        }

        .fizz-buzz-component td {
            border: 1px solid black;
        }

        footer {
            clear: both;
            width: auto;
            text-align: center;
        }
    </style>
</head>

<body>
<h1>HTML5+CSS+JavaScript with TDD</h1>
<div id="app"></div>
<section>
    <div class="fizz-buzz-component">
        <div id="mocha"></div>
    </div>
</section>
<footer>
    <p>Copyright</p>
    <address>hiroshima.arc@gmail.com</address>
</footer>

<script>
  // Test
  const assert = chai.assert;

  suite("FizzBuzzTest", () => {
    test("1から100までプリントする、ただし3で割り切れる場合はFizz5で割り切れる場合はBuzz両方で割り切れる場合はFizzBuzzをプリントする", () => {
      const array = iterate(100);

      assert.equal(array[0], 1);
      assert.equal(array[2], "Fizz");
      assert.equal(array[4], "Buzz");
      assert.equal(array[14], "FizzBuzz");
    });

    test("3で割り切れる場合はFizzをプリントする", () => {
      assert.equal(fizzBuzz(3), "Fizz");
      assert.equal(fizzBuzz(1), 1);
    });

    test("5で割り切れる場合はBuzzをプリントする", () => {
      assert.equal(fizzBuzz(5), "Buzz");
    });

    test("3と5で割り切れる場合はFizzBuzzをプリントする", () => {
      assert.equal(fizzBuzz(15), "FizzBuzz");
    });
  });

  suite("FizzBuzzComponentTest", () => {
    const {shallowMount, mount} = VueTestUtils;

    suite("FizzBuzzCallTest", () => {
      test("3を入力したらFizzを表示する", () => {
        const wrapper = shallowMount(FizzBuzzCall, {
          propsData: {
            input: 3
          }
        });
        const buttonInput = wrapper.find('input[type="button"]');
        buttonInput.trigger("click");
        assert.equal(wrapper.props().output,"Fizz");
      });
    });

    suite("FizzBuzzPrintTest", () => {
      test("5を入力したらBuzzを表示する", () => {
        const wrapper = shallowMount(FizzBuzzPrint, {
          propsData: {
            input: 5
          }
        });
        const buttonInput = wrapper.find('input[type="button"]');
        buttonInput.trigger("click");
        assert.equal(wrapper.props().message,"Buzz");
      });
    });

    suite("FizzBuzzUpDownTest", () => {
      test("+を押したら1を表示する", () => {
        const wrapper = shallowMount(FizzBuzzUpDown, {
          propsData: {
            count: 0
          }
        });
        const buttonInput = wrapper.findAll('input[type="button"]');
        buttonInput.at(1).trigger("click");
        assert.equal(wrapper.props().message, 1);
      });
      test("-を押したらFizzBuzzを表示する", () => {
        const wrapper = shallowMount(FizzBuzzUpDown, {
          propsData: {
            count: 0
          }
        });
        const buttonInput = wrapper.findAll('input[type="button"]');
        buttonInput.at(0).trigger("click");
        assert.equal(wrapper.props().message, "FizzBuzz");
      });
    });

    suite("FizzBuzzIterateTest", () => {
      test("10を入力したらテーブルを表示する", () => {
        const wrapper = mount(FizzBuzzIterate, {
          propsData: {
            input: 10
          }
        });
        assert.equal(wrapper.html(), "<article><h1>FizzBuzzIterate</h1> <div></div> <input type=\"number\"> <table><thead><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th></thead> <tbody><tr><td>1</td><td>2</td><td>Fizz</td><td>4</td><td>Buzz</td><td>Fizz</td><td>7</td><td>8</td><td>Fizz</td><td>Buzz</td></tr></tbody></table></article>");
      });
      test("マイナス数字を入力したらエラーメッセージを表示する", () => {
        const wrapper = mount(FizzBuzzIterate, {
          propsData: {
            input: 0
          }
        });
        const input = wrapper.find("input");
        input.setValue(-10);
        input.trigger("change");
        assert.equal(wrapper.props().message, "プラスの数字を入力してください");
      });
      test("100以上を入力したらエラーメッセージを表示する", () => {
        const wrapper = mount(FizzBuzzIterate, {
          propsData: {
            input: 0
          }
        });
        const input = wrapper.find("input");
        input.setValue(101);
        input.trigger("change");
        assert.equal(wrapper.props().message, "100を超える数字は入力できません");
      });
    });
  });

  mocha.run();

  // Model
  function iterate(number) {
    const array = [];
    [...Array(number).keys()].map((count) => {
      array.push(fizzBuzz(count + 1));
    });
    return array;
  }

  function print() {
    iterate(100).forEach((each) => {
      console.log(each);
    });
  }

  function isFizz(number) {
    return number % 3 === 0;
  }

  function isBuzz(number) {
    return number % 5 === 0;
  }

  function fizzBuzz(number) {
    if (isFizz(number) && isBuzz(number)) return "FizzBuzz";
    if (isFizz(number)) return "Fizz";
    if (isBuzz(number)) return "Buzz";
    return number;
  }

  print();

  // ViewModel
  const MESSAGE_ERROR_NUMBER = "プラスの数字を入力してください";
  const MESSAGE_ERROR_MAX_NUMBER = "100を超える数字は入力できません";

  const FizzBuzzMenu = Vue.component("fizz-buzz-menu", {
    props: {
      onClick: {
        type: Function,
      },
    },

    template: `
                <ul>
                    <li><a href="index.html">FizzBuzz</a></li>
                    <ul id="nav-component__sub-menu--fizz-buzz">
                        <li @click="onClick('call')">
                            <a href="#">FizzBuzzCall</a>
                        </li>
                        <li @click="onClick('print')">
                            <a href="#">FizzBuzzPrint</a>
                        </li>
                        <li @click="onClick('up-down')">
                            <a href="#">FizzBuzzUpDown</a>
                        </li>
                        <li @click="onClick('iterate')">
                            <a href="#">FizzBuzzIterate</a>
                        </li>
                    </ul>
                </ul>
          `
  });

  const FizzBuzzCall = Vue.component("fizz-buzz-call", {
    props: {
      input: {
        type: Number,
        require: true
      },
      output: {
        type: String,
        require: true
      }
    },

    methods: {
      fizzBuzzCallOnClick: function () {
        if (!this.input) {
          this.output = MESSAGE_ERROR_NUMBER;
          alert(this.output);
        } else {
          this.output = fizzBuzz(this.input);
          alert(this.output);
        }
      }
    },

    template: `
          <article>
          <h1>FizzBuzzCall</h1>
          <input
            type="number"
            v-model.number="input"
            @keyup.enter="fizzBuzzCallOnClick"
          />
          <input
            type="button"
            value="Call"
            @click="fizzBuzzCallOnClick"
          />
          </article>
          `
  });

  const FizzBuzzPrint = Vue.component("fizz-buzz-print", {
    props: {
      input: {
        type: Number,
        require: true
      },
      message: {
        type: String,
        require: true
      }
    },

    methods: {
      fizzBuzzPrintOnClick: function () {
        if (!this.input) {
          this.message = MESSAGE_ERROR_NUMBER;
        } else {
          this.message = fizzBuzz(this.input);
        }
      }
    },

    template: `
        <article>
          <h1>FizzBuzzPrint</h1>
          <div>{{message}}</div>
          <input
            type="number"
            v-model.number="input"
            @keyup.enter="fizzBuzzPrintOnClick"
          />
          <input
            type="button"
            value="Print"
            @click="fizzBuzzPrintOnClick"
          />
        </article>
          `
  });

  const FizzBuzzUpDown = Vue.component("fizz-buzz-up-down", {
    props: {
      count: {
        type: Number,
        require: true
      },
      message: {
        type: String,
        require: true
      }
    },

    methods: {
      fizzBuzzUpDownUp: function () {
        this.count = this.count + 1;
        this.message = fizzBuzz(this.count);
      },
      fizzBuzzUpDownDown: function () {
        if (this.count <= 0) {
          this.count = 0;
        } else {
          this.count = this.count - 1;
        }
        this.message = fizzBuzz(this.count);
      }

    },

    template: `
        <article>
          <h1>FizzBuzzUpDown</h1>
          <div>{{this.message}}</div>
          <input
            type="button"
            value="-"
            @click="fizzBuzzUpDownDown"
          />
          <input
            type="button"
            value="+"
            @click="fizzBuzzUpDownUp"
          />
        </article>
          `
  });

  const FizzBuzzTable = Vue.component("fizz-buzz-table", {
    props: {
      maxColumn: {
        type: Number,
        default: 10,
      },
      array: {
        default: [],
      }
    },

    computed: {
      header() {
        return [...Array(this.maxColumn).keys()];
      }
    },

    template: `
    <table>
      <thead>
        <th v-for="i in header" :key="i">{{i + 1}}</th>
      </thead>
        <tbody>
          <tr v-for="row in array">
            <td v-for="column in row">{{ column }}</td>
          </tr>
        </tbody>
    </table>
    `
  });

  function splitArrayBy10(array) {
    const head = array.slice(0, 10);
    const tail = array.slice(10);
    if (tail.length > 0) return [head].concat(splitArrayBy10(tail));
    return [head];
  }

  const FizzBuzzIterate = Vue.component("fizz-buzz-iterate", {
    props: {
      input: {
        type: Number,
        require: true
      },
      message: {
        type: String
      }
    },

    computed: {
      array() {
        if (this.input < 0 || this.input > 100) return;
        return splitArrayBy10(iterate(this.input));
      }
    },

    methods: {
      fizzBuzzIterateOnChange: function (event) {
        if (this.input < 0) return this.message = MESSAGE_ERROR_NUMBER;
        if (this.input > 100) return this.message = MESSAGE_ERROR_MAX_NUMBER;
        return this.message = "";
      }
    },

    template: `
        <article>
          <h1>FizzBuzzIterate</h1>
          <div>{{this.message}}</div>
          <input
            type="number"
            v-model.number="input"
            @change="fizzBuzzIterateOnChange"
          />
          <fizz-buzz-table :array="array" />
        </article>
          `
  });


  document.addEventListener("DOMContentLoaded", () => {
    new Vue({
      el: "#app",

      data: {
        menu: "all",
      },

      methods: {
        changeMenu(menu) {
          this.menu = menu;
        }
      },

      template: `
        <div>
          <div class="nav-component">
            <header>
              <nav>
                <h1>Menu</h1>
                <fizz-buzz-menu :onClick="changeMenu">
              </nav>
            </header>
          </div>

          <h1>FizzBuzz</h1>
          <section>
             <div class="fizz-buzz-component">
                <fizz-buzz-call id="fizz-buzz-component__article--call" :input="0" v-if="menu == 'all' || menu == 'call'"/>
                <fizz-buzz-print id="fizz-buzz-component__article--print" :input="0" v-if="menu == 'all' || menu == 'print'"/>
                <fizz-buzz-up-down id="fizz-buzz-component__article--up-down" :count="0" message="Ready" v-if="menu == 'all' || menu == 'up-down'"/>
                <fizz-buzz-iterate id="fizz-buzz-component__article--iterate" :input="0" v-if="menu == 'all' || menu == 'iterate'"/>
             </div>
          </section>
        </div>
       `
    });
  });
</script>

</body>

</html>