@page
@model SalesManagement.Pages.ManagementResources.Employee.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.EmpCode" />
            <div class="form-group">
                <label asp-for="Employee.EmpName" class="control-label"></label>
                <input asp-for="Employee.EmpName" class="form-control" />
                <span asp-validation-for="Employee.EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmpKana" class="control-label"></label>
                <input asp-for="Employee.EmpKana" class="form-control" />
                <span asp-validation-for="Employee.EmpKana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LoginPassword" class="control-label"></label>
                <input asp-for="Employee.LoginPassword" class="form-control" />
                <span asp-validation-for="Employee.LoginPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Tel" class="control-label"></label>
                <input asp-for="Employee.Tel" class="form-control" />
                <span asp-validation-for="Employee.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Fax" class="control-label"></label>
                <input asp-for="Employee.Fax" class="form-control" />
                <span asp-validation-for="Employee.Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DeptCode" class="control-label"></label>
                <input asp-for="Employee.DeptCode" class="form-control" />
                <span asp-validation-for="Employee.DeptCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.StartDate" class="control-label"></label>
                <input asp-for="Employee.StartDate" class="form-control" />
                <span asp-validation-for="Employee.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.OccuCode" class="control-label"></label>
                <input asp-for="Employee.OccuCode" class="form-control" />
                <span asp-validation-for="Employee.OccuCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ApprovalCode" class="control-label"></label>
                <input asp-for="Employee.ApprovalCode" class="form-control" />
                <span asp-validation-for="Employee.ApprovalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.UpdateDate" class="control-label"></label>
                <input asp-for="Employee.UpdateDate" class="form-control" />
                <span asp-validation-for="Employee.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Updater" class="control-label"></label>
                <input asp-for="Employee.Updater" class="form-control" />
                <span asp-validation-for="Employee.Updater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
